In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pitch_speed = pd.read_csv('pitch_speed.csv')

In [3]:
pitch_spin = pd.read_csv('pitch_arsenals.csv')

In [4]:
pitch_ba = pd.read_csv('pitch-arsenal-stats.csv')

In [5]:
pitch_speed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507 entries, 0 to 506
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   last_name     507 non-null    object
 1    first_name   507 non-null    object
 2   pitcher       507 non-null    int64
 3   ff_avg_speed  473 non-null    float64
 4   si_avg_speed  331 non-null    float64
 5   fc_avg_speed  152 non-null    float64
 6   sl_avg_speed  424 non-null    float64
 7   ch_avg_speed  388 non-null    float64
 8   cu_avg_speed  305 non-null    float64
 9   fs_avg_speed  40 non-null     float64
 10  kn_avg_speed  0 non-null      float64
dtypes: float64(8), int64(1), object(2)
memory usage: 43.7+ KB

In [6]:
pitch_speed['player_name'] = pitch_speed[[' first_name','last_name']].agg(' '.join, axis=1)

In [7]:
pitch_speed.drop(columns=['last_name', ' first_name','pitcher'], axis=1, inplace=True)

In [8]:
pitch_speed

,ff_avg_speed,si_avg_speed,fc_avg_speed,sl_avg_speed,ch_avg_speed,cu_avg_speed,fs_avg_speed,kn_avg_speed,player_name
0,97.9,97.6,NaN,89.6,91.8,86.0,NaN,NaN,Sandy Alcantara
1,93.4,92.8,NaN,87.8,82.5,75.9,NaN,NaN,Miles Mikolas
2,92.8,92.1,86.8,NaN,85.9,78.5,NaN,NaN,Aaron Nola
3,96.8,96.5,NaN,87.1,77.7,80.9,NaN,NaN,Dylan Cease
4,97.8,NaN,92.1,88.4,89.9,82.7,NaN,NaN,Gerrit Cole
...,...,...,...,...,...,...,...,...,...
502,NaN,88.5,86.2,76.9,NaN,NaN,NaN,NaN,Justin Bruihl
503,94.8,95.5,NaN,84.4,87.3,NaN,NaN,NaN,Anthony Castro
504,95.4,NaN,NaN,82.2,NaN,78.7,87.4,NaN,Jeremy Beasley
505,95.5,95.2,91.1,NaN,86.8,81.8,NaN,NaN,Jake Bird
506,91.1,90.1,NaN,81.5,83.2,75.8,NaN,NaN,Casey Lawrence

In [9]:
pitch_spin

,last_name,first_name,pitcher,ff_avg_spin,si_avg_spin,fc_avg_spin,sl_avg_spin,ch_avg_spin,cu_avg_spin,fs_avg_spin,kn_avg_spin
0,Alcantara,Sandy,645261,2174.0,2272.0,NaN,2334.0,2038.0,2333.0,NaN,NaN
1,Nola,Aaron,605400,2280.0,2174.0,2165.0,NaN,1465.0,2577.0,NaN,NaN
2,Mikolas,Miles,571945,2301.0,2239.0,NaN,2409.0,1575.0,2569.0,NaN,NaN
3,Cease,Dylan,656302,2504.0,2492.0,NaN,2845.0,1707.0,2704.0,NaN,NaN
4,Gilbert,Logan,669302,2132.0,NaN,NaN,2305.0,1717.0,2121.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
493,Mills,Wyatt,670090,1988.0,1810.0,NaN,2384.0,NaN,NaN,NaN,NaN
494,Bruihl,Justin,677865,NaN,2156.0,2291.0,2388.0,NaN,NaN,NaN,NaN
495,Weems,Jordan,607179,2095.0,NaN,NaN,2246.0,908.0,2107.0,NaN,NaN
496,Moronta,Reyes,606625,2312.0,NaN,NaN,2460.0,1947.0,NaN,NaN,NaN
497,Lawrence,Casey,596271,2230.0,2169.0,NaN,2465.0,1781.0,2433.0,NaN,NaN

In [10]:
pitch_spin['player_name'] = pitch_spin[[' first_name','last_name']].agg(' '.join, axis=1)

In [11]:
pitch_spin.drop(columns=['last_name', ' first_name','pitcher'], axis=1, inplace=True)

In [12]:
pitch_spin

,ff_avg_spin,si_avg_spin,fc_avg_spin,sl_avg_spin,ch_avg_spin,cu_avg_spin,fs_avg_spin,kn_avg_spin,player_name
0,2174.0,2272.0,NaN,2334.0,2038.0,2333.0,NaN,NaN,Sandy Alcantara
1,2280.0,2174.0,2165.0,NaN,1465.0,2577.0,NaN,NaN,Aaron Nola
2,2301.0,2239.0,NaN,2409.0,1575.0,2569.0,NaN,NaN,Miles Mikolas
3,2504.0,2492.0,NaN,2845.0,1707.0,2704.0,NaN,NaN,Dylan Cease
4,2132.0,NaN,NaN,2305.0,1717.0,2121.0,NaN,NaN,Logan Gilbert
...,...,...,...,...,...,...,...,...,...
493,1988.0,1810.0,NaN,2384.0,NaN,NaN,NaN,NaN,Wyatt Mills
494,NaN,2156.0,2291.0,2388.0,NaN,NaN,NaN,NaN,Justin Bruihl
495,2095.0,NaN,NaN,2246.0,908.0,2107.0,NaN,NaN,Jordan Weems
496,2312.0,NaN,NaN,2460.0,1947.0,NaN,NaN,NaN,Reyes Moronta
497,2230.0,2169.0,NaN,2465.0,1781.0,2433.0,NaN,NaN,Casey Lawrence

In [16]:
pitch_ba

,pitch_name,run_value_per_100,run_value,pitches,pitch_usage,pa,ba,slg,woba,whiff_percent,k_percent,put_away,est_ba,est_slg,est_woba,hard_hit_percent,player_name
0,4-Seamer,-1.5,-16,1077,62.1,267,0.222,0.339,0.288,25.3,28.1,23.7,0.244,0.401,0.310,44.0,Carlos RodÃ³n
1,4-Seamer,-0.5,-6,1023,55.7,261,0.253,0.451,0.343,23.6,22.6,20.3,0.289,0.525,0.377,51.1,Logan Gilbert
2,Sinker,-0.2,-1,983,62.5,257,0.222,0.369,0.308,24.4,23.3,20.8,0.248,0.427,0.333,43.1,Sean Manaea
3,Cutter,-2.1,-22,1032,56.7,250,0.187,0.271,0.261,31.7,26.0,25.3,0.246,0.373,0.307,38.5,Corbin Burnes
4,4-Seamer,-0.8,-7,884,58.9,227,0.204,0.393,0.316,17.3,15.0,15.0,0.277,0.563,0.393,49.4,Triston McKenzie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
710,4-Seamer,1.3,3,225,16.6,50,0.255,0.426,0.334,20.6,38.0,20.0,0.206,0.378,0.272,35.7,Adrian Houser
711,Slider,-2.6,-5,176,30.3,50,0.188,0.292,0.226,43.3,40.0,30.3,0.153,0.290,0.205,32.1,Chase De Jong
712,Changeup,-0.7,-1,174,37.0,50,0.140,0.233,0.253,38.6,28.0,19.7,0.232,0.353,0.312,37.9,Joely RodrÃ­guez
713,Changeup,-2.5,-4,181,32.3,50,0.130,0.261,0.207,34.4,30.0,22.7,0.177,0.225,0.217,25.8,Jason Adam
714,Curveball,-0.6,-1,227,14.6,50,0.208,0.313,0.286,33.0,26.0,25.5,0.222,0.385,0.273,34.3,JT Brubaker

In [14]:
pitch_ba['player_name'] = pitch_ba[[' first_name','last_name']].agg(' '.join, axis=1)

In [15]:
pitch_ba.drop(columns=['last_name', ' first_name','player_id','pitch_type','team_name_alt'], axis=1, inplace=True)

In [17]:
pitch_ba

,pitch_name,run_value_per_100,run_value,pitches,pitch_usage,pa,ba,slg,woba,whiff_percent,k_percent,put_away,est_ba,est_slg,est_woba,hard_hit_percent,player_name
0,4-Seamer,-1.5,-16,1077,62.1,267,0.222,0.339,0.288,25.3,28.1,23.7,0.244,0.401,0.310,44.0,Carlos RodÃ³n
1,4-Seamer,-0.5,-6,1023,55.7,261,0.253,0.451,0.343,23.6,22.6,20.3,0.289,0.525,0.377,51.1,Logan Gilbert
2,Sinker,-0.2,-1,983,62.5,257,0.222,0.369,0.308,24.4,23.3,20.8,0.248,0.427,0.333,43.1,Sean Manaea
3,Cutter,-2.1,-22,1032,56.7,250,0.187,0.271,0.261,31.7,26.0,25.3,0.246,0.373,0.307,38.5,Corbin Burnes
4,4-Seamer,-0.8,-7,884,58.9,227,0.204,0.393,0.316,17.3,15.0,15.0,0.277,0.563,0.393,49.4,Triston McKenzie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
710,4-Seamer,1.3,3,225,16.6,50,0.255,0.426,0.334,20.6,38.0,20.0,0.206,0.378,0.272,35.7,Adrian Houser
711,Slider,-2.6,-5,176,30.3,50,0.188,0.292,0.226,43.3,40.0,30.3,0.153,0.290,0.205,32.1,Chase De Jong
712,Changeup,-0.7,-1,174,37.0,50,0.140,0.233,0.253,38.6,28.0,19.7,0.232,0.353,0.312,37.9,Joely RodrÃ­guez
713,Changeup,-2.5,-4,181,32.3,50,0.130,0.261,0.207,34.4,30.0,22.7,0.177,0.225,0.217,25.8,Jason Adam
714,Curveball,-0.6,-1,227,14.6,50,0.208,0.313,0.286,33.0,26.0,25.5,0.222,0.385,0.273,34.3,JT Brubaker