In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
pitch = pd.read_csv('pitch_arsenals.csv')

In [3]:
pitch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498 entries, 0 to 497
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   last_name    498 non-null    object
 1    first_name  498 non-null    object
 2   pitcher      498 non-null    int64
 3   ff_avg_spin  466 non-null    float64
 4   si_avg_spin  321 non-null    float64
 5   fc_avg_spin  151 non-null    float64
 6   sl_avg_spin  416 non-null    float64
 7   ch_avg_spin  381 non-null    float64
 8   cu_avg_spin  300 non-null    float64
 9   fs_avg_spin  39 non-null     float64
 10  kn_avg_spin  0 non-null      float64
dtypes: float64(8), int64(1), object(2)
memory usage: 42.9+ KB

In [4]:
pitch.rename(columns={'last_name':'last', ' first_name':'first'}, inplace=True)

In [5]:
pitch['first'] = pitch['first'].astype(str)

In [6]:
pitch['last'] = pitch['last'].astype(str)

In [7]:
pitch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498 entries, 0 to 497
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   last         498 non-null    object
 1   first        498 non-null    object
 2   pitcher      498 non-null    int64
 3   ff_avg_spin  466 non-null    float64
 4   si_avg_spin  321 non-null    float64
 5   fc_avg_spin  151 non-null    float64
 6   sl_avg_spin  416 non-null    float64
 7   ch_avg_spin  381 non-null    float64
 8   cu_avg_spin  300 non-null    float64
 9   fs_avg_spin  39 non-null     float64
 10  kn_avg_spin  0 non-null      float64
dtypes: float64(8), int64(1), object(2)
memory usage: 42.9+ KB

In [8]:
pitch

,last,first,pitcher,ff_avg_spin,si_avg_spin,fc_avg_spin,sl_avg_spin,ch_avg_spin,cu_avg_spin,fs_avg_spin,kn_avg_spin
0,Alcantara,Sandy,645261,2174.0,2272.0,NaN,2334.0,2038.0,2333.0,NaN,NaN
1,Nola,Aaron,605400,2280.0,2174.0,2165.0,NaN,1465.0,2577.0,NaN,NaN
2,Mikolas,Miles,571945,2301.0,2239.0,NaN,2409.0,1575.0,2569.0,NaN,NaN
3,Cease,Dylan,656302,2504.0,2492.0,NaN,2845.0,1707.0,2704.0,NaN,NaN
4,Gilbert,Logan,669302,2132.0,NaN,NaN,2305.0,1717.0,2121.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
493,Mills,Wyatt,670090,1988.0,1810.0,NaN,2384.0,NaN,NaN,NaN,NaN
494,Bruihl,Justin,677865,NaN,2156.0,2291.0,2388.0,NaN,NaN,NaN,NaN
495,Weems,Jordan,607179,2095.0,NaN,NaN,2246.0,908.0,2107.0,NaN,NaN
496,Moronta,Reyes,606625,2312.0,NaN,NaN,2460.0,1947.0,NaN,NaN,NaN
497,Lawrence,Casey,596271,2230.0,2169.0,NaN,2465.0,1781.0,2433.0,NaN,NaN

In [9]:
p_stats = pd.read_csv('pitch-arsenal-stats.csv')

In [10]:
pitch['player_name'] = pitch[['first','last']].agg(' '.join, axis=1)

In [11]:
pitch

,last,first,pitcher,ff_avg_spin,si_avg_spin,fc_avg_spin,sl_avg_spin,ch_avg_spin,cu_avg_spin,fs_avg_spin,kn_avg_spin,player_name
0,Alcantara,Sandy,645261,2174.0,2272.0,NaN,2334.0,2038.0,2333.0,NaN,NaN,Sandy Alcantara
1,Nola,Aaron,605400,2280.0,2174.0,2165.0,NaN,1465.0,2577.0,NaN,NaN,Aaron Nola
2,Mikolas,Miles,571945,2301.0,2239.0,NaN,2409.0,1575.0,2569.0,NaN,NaN,Miles Mikolas
3,Cease,Dylan,656302,2504.0,2492.0,NaN,2845.0,1707.0,2704.0,NaN,NaN,Dylan Cease
4,Gilbert,Logan,669302,2132.0,NaN,NaN,2305.0,1717.0,2121.0,NaN,NaN,Logan Gilbert
...,...,...,...,...,...,...,...,...,...,...,...,...
493,Mills,Wyatt,670090,1988.0,1810.0,NaN,2384.0,NaN,NaN,NaN,NaN,Wyatt Mills
494,Bruihl,Justin,677865,NaN,2156.0,2291.0,2388.0,NaN,NaN,NaN,NaN,Justin Bruihl
495,Weems,Jordan,607179,2095.0,NaN,NaN,2246.0,908.0,2107.0,NaN,NaN,Jordan Weems
496,Moronta,Reyes,606625,2312.0,NaN,NaN,2460.0,1947.0,NaN,NaN,NaN,Reyes Moronta
497,Lawrence,Casey,596271,2230.0,2169.0,NaN,2465.0,1781.0,2433.0,NaN,NaN,Casey Lawrence

In [12]:
p_stats

,last_name,first_name,player_id,team_name_alt,pitch_type,pitch_name,run_value_per_100,run_value,pitches,pitch_usage,...,ba,slg,woba,whiff_percent,k_percent,put_away,est_ba,est_slg,est_woba,hard_hit_percent
0,Rodón,Carlos,607074,SF,FF,4-Seamer,-1.5,-16,1077,62.1,...,0.222,0.339,0.288,25.3,28.1,23.7,0.244,0.401,0.310,44.0
1,Gilbert,Logan,669302,SEA,FF,4-Seamer,-0.5,-6,1023,55.7,...,0.253,0.451,0.343,23.6,22.6,20.3,0.289,0.525,0.377,51.1
2,Manaea,Sean,640455,SD,SIFT,Sinker,-0.2,-1,983,62.5,...,0.222,0.369,0.308,24.4,23.3,20.8,0.248,0.427,0.333,43.1
3,Burnes,Corbin,669203,MIL,FC,Cutter,-2.1,-22,1032,56.7,...,0.187,0.271,0.261,31.7,26.0,25.3,0.246,0.373,0.307,38.5
4,McKenzie,Triston,663474,CLE,FF,4-Seamer,-0.8,-7,884,58.9,...,0.204,0.393,0.316,17.3,15.0,15.0,0.277,0.563,0.393,49.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
710,Houser,Adrian,605288,MIL,FF,4-Seamer,1.3,3,225,16.6,...,0.255,0.426,0.334,20.6,38.0,20.0,0.206,0.378,0.272,35.7
711,De Jong,Chase,608328,PIT,SL,Slider,-2.6,-5,176,30.3,...,0.188,0.292,0.226,43.3,40.0,30.3,0.153,0.290,0.205,32.1
712,Rodríguez,Joely,570257,NYM,CH,Changeup,-0.7,-1,174,37.0,...,0.140,0.233,0.253,38.6,28.0,19.7,0.232,0.353,0.312,37.9
713,Adam,Jason,592094,TB,CH,Changeup,-2.5,-4,181,32.3,...,0.130,0.261,0.207,34.4,30.0,22.7,0.177,0.225,0.217,25.8
714,Brubaker,JT,664141,PIT,CUKC,Curveball,-0.6,-1,227,14.6,...,0.208,0.313,0.286,33.0,26.0,25.5,0.222,0.385,0.273,34.3

In [13]:
p_stats['player_name'] = p_stats[[' first_name', 'last_name']].agg(' '.join, axis=1)

In [14]:
stats = pd.DataFrame(data=(pitch.merge(p_stats, how='outer')))

In [15]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 834 entries, 0 to 833
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   last               834 non-null    object
 1   first              834 non-null    object
 2   pitcher            834 non-null    int64
 3   ff_avg_spin        794 non-null    float64
 4   si_avg_spin        562 non-null    float64
 5   fc_avg_spin        277 non-null    float64
 6   sl_avg_spin        698 non-null    float64
 7   ch_avg_spin        673 non-null    float64
 8   cu_avg_spin        558 non-null    float64
 9   fs_avg_spin        61 non-null     float64
 10  kn_avg_spin        0 non-null      float64
 11  player_name        834 non-null    object
 12  last_name          715 non-null    object
 13   first_name        715 non-null    object
 14  player_id          715 non-null    float64
 15  team_name_alt      715 non-null    object
 16  pitch_type         715 non-null    object
 17  pitch_name         715 non-null    object
 18  run_value_per_100  715 non-null    float64
 19  run_value          715 non-null    float64
 20  pitches            715 non-null    float64
 21  pitch_usage        715 non-null    float64
 22  pa                 715 non-null    float64
 23  ba                 715 non-null    float64
 24  slg                715 non-null    float64
 25  woba               715 non-null    float64
 26  whiff_percent      715 non-null    float64
 27  k_percent          715 non-null    float64
 28  put_away           715 non-null    float64
 29  est_ba             715 non-null    float64
 30  est_slg            715 non-null    float64
 31  est_woba           715 non-null    float64
 32  hard_hit_percent   715 non-null    float64
dtypes: float64(24), int64(1), object(8)
memory usage: 221.5+ KB

In [16]:
stats['player_name'].isnull().any()

False

In [17]:
stats.drop(columns=['last','first',' first_name','last_name','player_id'],axis=1, inplace=True)

In [18]:
stats.groupby('player_name').max()

,pitcher,ff_avg_spin,si_avg_spin,fc_avg_spin,sl_avg_spin,ch_avg_spin,cu_avg_spin,fs_avg_spin,kn_avg_spin,team_name_alt,...,ba,slg,woba,whiff_percent,k_percent,put_away,est_ba,est_slg,est_woba,hard_hit_percent
player_name,,,,,,,,,,,,,,,,,,,,,
A.J. Minter,621345,2417.0,NaN,2625.0,NaN,1678.0,NaN,NaN,NaN,ATL,...,0.147,0.221,0.207,31.2,39.0,28.8,0.155,0.343,0.256,42.5
A.J. Puk,640462,2255.0,2160.0,NaN,2235.0,1362.0,NaN,NaN,NaN,OAK,...,0.228,0.421,0.289,36.4,35.6,24.7,0.248,0.411,0.310,42.9
Aaron Ashby,676879,2103.0,2075.0,NaN,2550.0,1840.0,2584.0,NaN,NaN,MIL,...,0.286,0.471,0.376,39.9,44.4,27.4,0.295,0.469,0.371,45.7
Aaron Bummer,607481,NaN,2101.0,2390.0,2477.0,1463.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aaron Civale,650644,2344.0,2325.0,2605.0,2837.0,NaN,2935.0,1829.0,NaN,CLE,...,0.333,0.549,0.430,41.5,43.9,22.5,0.376,0.575,0.451,48.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zach Thompson,605507,2373.0,2214.0,2588.0,NaN,1864.0,2255.0,NaN,NaN,PIT,...,0.296,0.518,0.367,25.0,20.2,15.2,0.325,0.558,0.385,41.8
Zack Greinke,425844,2296.0,2184.0,2392.0,2435.0,1605.0,2411.0,NaN,NaN,KC,...,0.339,0.571,0.417,22.8,14.6,12.7,0.365,0.707,0.469,48.5
Zack Littell,641793,2134.0,NaN,NaN,2214.0,NaN,NaN,998.0,NaN,SF,...,0.288,0.571,0.380,30.3,23.0,16.3,0.249,0.529,0.352,40.5
Zack Thompson,668868,1989.0,NaN,1914.0,NaN,1452.0,2785.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zack Wheeler,554430,2379.0,2221.0,NaN,2436.0,1551.0,2659.0,NaN,NaN,PHI,...,0.286,0.325,0.305,30.4,32.3,24.9,0.262,0.389,0.282,47.0

In [19]:
stats.rename(columns={'ff_avg_spin':'4smFastball_spin', 'si_avg_spin':'Sinkeravg_spin',
                     'fc_avg_spin':'Cutteravg_spin','sl_avg_spin':'Slideravg_spin',
                      'ch_avg_spin':'Changeupavg_spin','cu_avg_spin':'Curveavg_spin',
                      'fs_avg_spin':'Splitteravg_spin'},inplace=True)